.fa-greasyfork {
  background-image: url("/icons/greasyfork.png");
  background-size: cover;
  vertical-align: middle;
  height: 1em !important;
  width: 1em !important;
  margin: 0 4.625px 0 1.625px !important;
}